
 <article class="post">
      <div class="title">
        <h1 class="post-title">{{title}}</h1>
        <div class="post-text">{{post_text}}</div>
      </div>
      <div class="meta">
        created by {{user.username}} on {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>